/* ======= mixins ========= */
/* ===== instruments ====== */
.sidebar-title:before, .sidebar-title.collapsed:after, .sidebar-blinds-text:before,
.sidebar-room-text:before,
.sidebar-style-text:before,
.sidebar-default-text:before, .sidebar-blinds-checkbox:checked + .sidebar-blinds-text:after,
.sidebar-room-checkbox:checked + .sidebar-room-text:after,
.sidebar-style-checkbox:checked + .sidebar-style-text:after,
.sidebar-default-checkbox:checked + .sidebar-default-text:after {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  transform: translateY(-50%);
}

/* ======= sections ====== */
.breadcrumbs-block {
  border-top: 1px solid #d2d2d2;
  background: #f9f8f3;
}
.breadcrumbs-block .breadcrumbs-list {
  padding: 10px 0 13px 0;
  font-size: 0;
}
.breadcrumbs-block .breadcrumbs-item {
  font-size: 16px;
  position: relative;
  margin-right: 20px;
  display: inline-block;
}
.breadcrumbs-block .breadcrumbs-item:before {
  position: absolute;
  content: "/";
  display: block;
  color: #a5a5a3;
  right: -12px;
}
.breadcrumbs-block .breadcrumbs-item:last-child {
  color: #a5a5a3;
  text-decoration: none;
  cursor: default;
}
.breadcrumbs-block .breadcrumbs-item:last-child:before {
  display: none;
}
.breadcrumbs-block .breadcrumbs-link {
  color: black;
  border-bottom: 1px solid black;
}

.paggination-block {
  display: inline-block;
  margin-bottom: 50px;
  vertical-align: middle;
}

.paggination-title {
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
}

.paggination-list {
  font-size: 0;
  display: inline-block;
}

.paggination-item {
  display: inline-block;
  margin-right: 10px;
}
.paggination-item:last-child {
  margin-right: 0;
}

.paggination-link {
  font-size: 20px;
  display: block;
  color: black;
}
.paggination-link.active, .paggination-link:hover {
  color: #66b7a1;
  text-decoration: underline;
}

.accessories-info {
  font-size: 20px;
}
.accessories-info p {
  margin-bottom: 30px;
}

.projects {
  margin-bottom: 50px;
}

.projects-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects-title {
  font-size: 35px;
  padding: 50px 0;
  text-align: center;
  text-transform: uppercase;
}

.project-img-container {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.projects-description {
  padding: 13px 15px 10px 15px;
  background: #f9f8f3;
  color: black;
}

.projects-description-text {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.projects-description-price {
  font-size: 20px;
}

.projects-img {
  transition: all 0.3s ease;
}

.projects-link {
  display: block;
}

.projects-link:hover .projects-img {
  transform: scale(1.2);
}
.projects-link:hover .zoom {
  opacity: 1;
  left: 5px;
  top: 5px;
  bottom: 5px;
  right: 5px;
}

.projects-item {
  margin-bottom: 30px;
}

.footer-nav .up {
  right: 9%;
}

.btn-all-items {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: middle;
}

.sidebar {
  background: #f9f8f3;
  padding: 20px 20px 25px 20px;
  margin-bottom: 50px;
}
.sidebar .btn_pink {
  margin: 0 auto 25px auto;
}

.sidebar-list {
  font-size: 0;
  padding-left: 25px;
}

.sidebar-item {
  margin-bottom: 20px;
}

.sidebar-title {
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
}
.sidebar-title:before {
  left: -25px;
  height: 2px;
  width: 15px;
  background: #66b69f;
}
.sidebar-title.collapsed:after {
  left: -18px;
  height: 15px;
  width: 2px;
  background: #66b69f;
}

.sidebar-slider-amount {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  border: 2px solid #dfdfdf;
  border-radius: 3px;
}

.sidebar-blinds-list,
.sidebar-room-list,
.sidebar-style-list,
.sidebar-colors-list,
.sidebar-default-list {
  padding: 20px 0 0 0;
}

.sidebar-blinds-item,
.sidebar-room-item,
.sidebar-style-item,
.sidebar-default-item {
  display: block;
  margin-bottom: 15px;
}
.sidebar-blinds-item:last-child,
.sidebar-room-item:last-child,
.sidebar-style-item:last-child,
.sidebar-default-item:last-child {
  margin-bottom: 0;
}

.sidebar-blinds-checkbox,
.sidebar-room-checkbox,
.sidebar-style-checkbox,
.sidebar-colors-checkbox,
.sidebar-default-checkbox {
  display: none;
}

.sidebar-blinds-label,
.sidebar-room-label,
.sidebar-style-label,
.sidebar-colors-label,
.sidebar-default-label {
  cursor: pointer;
  font-weight: normal;
}

.sidebar-blinds-text,
.sidebar-room-text,
.sidebar-style-text,
.sidebar-default-text {
  font-size: 18px;
  position: relative;
  padding-left: 25px;
}
.sidebar-blinds-text:before,
.sidebar-room-text:before,
.sidebar-style-text:before,
.sidebar-default-text:before {
  width: 15px;
  height: 15px;
  background: #dfdfdf;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.34);
  left: 0;
}

.sidebar-blinds-checkbox:checked + .sidebar-blinds-text:after,
.sidebar-room-checkbox:checked + .sidebar-room-text:after,
.sidebar-style-checkbox:checked + .sidebar-style-text:after,
.sidebar-default-checkbox:checked + .sidebar-default-text:after {
  width: 7px;
  height: 7px;
  background: #66b69f;
  left: 4px;
}

.sidebar-colors-item {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.sidebar-colors-item:last-child {
  margin-right: 0;
}

.sidebar-colors-text {
  width: 30px;
  height: 30px;
}
.sidebar-colors-text.green {
  background: green;
}
.sidebar-colors-text.red {
  background: red;
}
.sidebar-colors-text.yellow {
  background: yellow;
}
.sidebar-colors-text.blue {
  background: blue;
}
.sidebar-colors-text.gray {
  background: gray;
}
.sidebar-colors-text.black {
  background: black;
}

.sidebar-colors-checkbox:checked + .sidebar-colors-text {
  border: 1px solid #dfdfdf;
  box-shadow: inset 0 0 0 2px #fff;
}

.sidebar-slider-container {
  padding-top: 20px;
}

.sidebar-slider_fix {
  margin: 0 -15px;
  padding: 0 15px;
}

.sidebar-slider {
  height: 4px;
  cursor: pointer;
  background: #dfdfdf;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
}
.sidebar-slider .ui-slider-handle {
  cursor: pointer;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #5a5a5a;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -7px;
}
.sidebar-slider .ui-slider-range {
  height: 4px;
  background: #66b69f;
  border-radius: 5px;
  position: absolute;
}

/* xs+sm+md */
/* xs+sm */
/* sm */
@media screen and (max-width: 767px) {
  .projects-item {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .paggination-block {
    display: block;
    margin-bottom: 20px;
    margin-right: 0;
    margin-top: 20px;
  }
}

/*# sourceMappingURL=cornice.css.map */
