/* ======= mixins ========= */
/* ===== instruments ====== */
/* ======= sections ====== */
.breadcrumbs-block {
  border-top: 1px solid #d2d2d2;
  background: #f9f8f3;
}
.breadcrumbs-block .breadcrumbs-list {
  padding: 10px 0 13px 0;
  font-size: 0;
}
.breadcrumbs-block .breadcrumbs-item {
  font-size: 16px;
  position: relative;
  margin-right: 20px;
  display: inline-block;
}
.breadcrumbs-block .breadcrumbs-item:before {
  position: absolute;
  content: "/";
  display: block;
  color: #a5a5a3;
  right: -12px;
}
.breadcrumbs-block .breadcrumbs-item:last-child {
  color: #a5a5a3;
  text-decoration: none;
  cursor: default;
}
.breadcrumbs-block .breadcrumbs-item:last-child:before {
  display: none;
}
.breadcrumbs-block .breadcrumbs-link {
  color: black;
  border-bottom: 1px solid black;
}

.cloth-detail {
  padding-bottom: 55px;
}

.cloth-detail__title {
  font-size: 35px;
  padding: 50px 0 50px 0;
  text-align: center;
  text-transform: uppercase;
}

.cloth-detail__img-container {
  max-width: 100%;
  overflow: hidden;
}

.cloth-detail__img {
  width: 100%;
  transition: 0.35s;
}
.cloth-detail__img:hover {
  transform: scale(1.2);
}

.cloth-detail__info-block {
  margin-bottom: 50px;
}

.cloth-detail__list {
  padding: 30px 40px;
  background: #f9f8f3;
}

.cloth-detail__item {
  margin-bottom: 5px;
}
.cloth-detail__item:last-child {
  margin-bottom: 0;
}

.cloth-detail__item-left {
  display: inline-block;
  width: 190px;
  margin-right: 25px;
  font-size: 18px;
}

.cloth-detail__item-right {
  display: inline-block;
  font-family: "PTSansBold";
  font-size: 18px;
}

.cloth-detail__info-description {
  background: #dfddd5;
  padding: 20px 40px;
  font-size: 20px;
}

.cloth-detail__info-tel {
  font-family: "PTSansBold";
}

.cloth-detail__price {
  font-size: 35px;
  display: inline-block;
  margin-right: 25px;
  line-height: 53px;
  vertical-align: middle;
}

.cloth-detail__btn {
  width: 100%;
  display: inline-block;
  max-width: 320px;
  padding: 0;
  line-height: 53px;
  height: 53px;
  font-size: 20px;
}

.callback-area {
  margin-bottom: 30px;
  background: -webkit-radial-gradient(center, ellipse cover, #f0efec 0%, #f0efec 25%, #e2e1d9 50%, #dfddd5 73%, #dfddd5 100%);
}

.callback-area .form-block form {
  background: #dfddd5;
}

.description {
  padding: 50px 0;
}

.description__text {
  font-size: 20px;
}
.description__text p {
  margin-bottom: 25px;
}
.description__text p:last-child {
  margin-bottom: 0;
}

.selection-title {
  font-size: 35px;
  padding: 50px 0 50px 0;
  text-align: center;
  text-transform: uppercase;
}

.selection-description {
  font-size: 20px;
  margin-bottom: 50px;
}
.selection-description p {
  margin-bottom: 30px;
}
.selection-description p:last-child {
  margin-bottom: 0;
}

.selection-list {
  margin-bottom: 10px;
}

.selection-item {
  margin-bottom: 30px;
  overflow: hidden;
}

.selection-item__img-container {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.selection-item__img {
  width: 100%;
  transition: all 0.35s;
}

.selection-item__img-description {
  transition: all 0.35s;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  margin: auto;
  min-width: 85%;
  padding: 15px 10px 15px 10px;
  background: #ffffff;
  opacity: 0.9;
  text-align: center;
}

.img-description__title {
  color: black;
  font-size: 27px;
  margin-bottom: 10px;
}

.img-description__code {
  color: black;
  font-size: 20px;
}

.selection-item__img-container:hover .selection-item__img {
  transform: scale(1.2);
}
.selection-item__img-container:hover .selection-item__img-description {
  transform: translate(-50%, -50%) scale(1.05);
}

.used {
  background: #8fe1d0;
  padding: 45px 0;
}

.used-top {
  margin-bottom: 45px;
}

.used-title {
  font-size: 35px;
  text-transform: uppercase;
}

.used-link {
  padding: 7px 0;
  display: block;
  font-size: 20px;
  text-decoration: underline;
  color: black;
  text-transform: uppercase;
}

/*# sourceMappingURL=jalo-detail.css.map */
