/* ======= mixins ========= */
/* ===== instruments ====== */
/* ======= sections ====== */
.breadcrumbs-block {
  border-top: 1px solid #d2d2d2;
  background: #f9f8f3;
}
.breadcrumbs-block .breadcrumbs-list {
  padding: 10px 0 13px 0;
  font-size: 0;
}
.breadcrumbs-block .breadcrumbs-item {
  font-size: 16px;
  position: relative;
  margin-right: 20px;
  display: inline-block;
}
.breadcrumbs-block .breadcrumbs-item:before {
  position: absolute;
  content: "/";
  display: block;
  color: #a5a5a3;
  right: -12px;
}
.breadcrumbs-block .breadcrumbs-item:last-child {
  color: #a5a5a3;
  text-decoration: none;
  cursor: default;
}
.breadcrumbs-block .breadcrumbs-item:last-child:before {
  display: none;
}
.breadcrumbs-block .breadcrumbs-link {
  color: black;
  border-bottom: 1px solid black;
}

.paggination-title {
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
}

.paggination-list {
  font-size: 0;
  display: inline-block;
}

.paggination-item {
  display: inline-block;
  margin-right: 10px;
}
.paggination-item:last-child {
  margin-right: 0;
}

.paggination-link {
  font-size: 20px;
  display: block;
  color: black;
}
.paggination-link.active, .paggination-link:hover {
  color: #66b7a1;
  text-decoration: underline;
}

.reviews {
  margin-bottom: 50px;
}

.reviews-title {
  font-size: 35px;
  padding: 50px 0;
  text-align: center;
  text-transform: uppercase;
}

.reviews-img-wrap {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  height: 170px;
}

.reviews-img-container {
  max-width: 100%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  height: 170px;
}

.reviews-img {
  position: absolute;
}

.reviews-img-link {
  background: url('../images/vk.png?1481815288') no-repeat;
  font-size: 0;
  width: 24px;
  height: 24px;
  display: none;
  margin: 0 auto;
  margin-top: 10px;
}

.reviews-date {
  font-size: 17px;
}

.reviews-name {
  margin-right: 5px;
  font-size: 20px;
  font-family: "PTSansBold";
}

.reviews-description__top {
  margin-bottom: 20px;
}

.reviews-description__text {
  font-size: 18px;
  line-height: 22px;
}
.reviews-description__text p {
  line-height: 22px;
  margin-bottom: 25px;
}
.reviews-description__text p:last-child {
  margin-bottom: 0;
}

.reviews-item {
  margin-bottom: 70px;
}
.reviews-item.vk .reviews-img-link {
  display: block;
}

.reviews-block {
  padding-left: 50px;
  padding-right: 0;
}

.paggination-block {
  margin-left: -15px;
}

/* xs+sm+md */
@media screen and (max-width: 1199px) {
  .reviews-img-container {
    height: 160px;
  }
}
/* xs+sm */
@media screen and (max-width: 991px) {
  .reviews-img-container {
    height: 120px;
  }
}
/* xs */
@media screen and (max-width: 767px) {
  .reviews-img-wrap {
    height: auto;
  }

  .reviews-img-container {
    height: auto;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }

  .reviews-img {
    position: relative;
    width: 100%;
  }

  .reviews-img-link {
    margin-bottom: 20px;
  }

  .reviews-block {
    padding: 0 15px;
    text-align: center;
  }

  .paggination-block {
    margin-left: 0;
    text-align: center;
  }
}

/*# sourceMappingURL=reviews.css.map */
