html, div, span, body, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    line-height: 1;
}

body {
    font-family: "PTSansRegular";
    font-weight: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1;
}

.col-centered{
    float: none;
    margin: 0 auto;
    text-align: center;
}

.container_small {
    max-width: 1020px;
    display: block;
    margin: 0 auto;
    padding: 0 15px;
}

.padd-clear {
    padding: 0;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}

section{
    overflow: hidden;
    position: relative;
}
h3{
    font-family: "PTSansRegular";
    font-size: 35px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.title_descript{
    font-family: "PTSansItalic";
    font-size: 20px;
    text-align: center;
    padding:15px 0 50px;
}
.clearfix{

}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.parent:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.parent {
    zoom: 1; /* set hasLayout */
    display: block; /* resets display for IE/Win */
    overflow: hidden;
    zoom: 1; /* for IE */
}
.btn_pink{
    background: #db5d6b;
    border-radius: 7px;
    text-transform: uppercase;
    padding: 10px 25px;
    color: white;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(160,63,74,1);
    -moz-box-shadow: 0px 2px 0px 0px rgba(160,63,74,1);
    box-shadow: 0px 2px 0px 0px rgba(160,63,74,1);
    display: table;
    font-family: "PTSansBold";
    font-size: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
}
.btn_pink:hover{
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
.read_more{
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 23px;
}
.read_more:hover{
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 23px;
}
.readAll{
    width: 190px;
    border-radius: 4px;
    display: table;
    padding:8px 0px;
}
.readAll:hover{
    width: 190px;
    border-radius: 4px;
    display: table;
    padding:8px 0px;
}
.lookWork{
    max-width: 230px;
    margin: 0 auto;
    padding:12px 14px;
    font-size: 20px;
}
.hover_scale{
    transition: .35s;
    position: relative;
}
.hover_scale:hover{
    transform: scale(1.1, 1.1);
    z-index:5;
}
.decor_container{
    max-width: 1022px;
    margin:0 auto;
    display: block;
    position: relative;
}
.decor_container_big{
    max-width: 1431px;
    margin:0 auto;
    display: block;
    position: relative;
}
.decor_container_texttile{
    max-width: 1840px;
    margin:0 auto;
    display: block;
    position: relative;
}
.col-3{
    width:33.3333%;
    float: left;
}
.info p{
    font-family: "PTSansRegular";
    font-size: 25px;
    font-weight: normal;
    text-align: center;
}
.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next{
    font-size: 0;
    width: 35px;
    height: 60px;
    position: absolute;
    top:0px;
    bottom: 0;
    margin: auto 0;
    z-index:1;
    opacity: .7;
    transition: .3s;
}
.owl-carousel .owl-controls .owl-dots{
    position: relative;
    bottom:0;
    text-align: center;
    left: 0;
    right: 0;
}
.owl-carousel .owl-controls .owl-dot{
    width: 18px;
    height: 18px;
    border-radius: 100%;
    border:3px solid white;
    display: inline-block;
    background-color: transparent;
    margin: 0 6px;
}
.owl-carousel .owl-controls .owl-dot.active{
    background-color: white;
}
.owl-carousel .owl-item img{
    position: relative;
    z-index:1;
}
.owl-carousel .owl-item{
    overflow: hidden;
}
/*madeCurtains*/
.madeCurtains{
    padding:50px 0;
}
.madeCurtains .title_descript{
    color: #5e5e5e;
    padding:15px 0 40px;
    max-width: 800px;
    margin: 0 auto;
}
.madeCurtains .btn_pink{
    display: block;
    margin:20px auto 0;
    width: 255px;
    font-size: 20px;
}
.owl-made-curtains .info{
    background: #f6f3ea;
    padding:20px;
    text-align: left;
    position: relative;
    z-index:2;
}
.owl-made-curtains .info p.title{
    font-size: 18px;
    padding-bottom: 15px;
}
/*sewingCurtains*/
.sewingCurtains h3{
    padding:50px 0 40px;
}
.sewingCurtains{
    background-color: #f9f8f3;
}
.owl-made-curtains,
.owl-sewing-curtains{
    padding-bottom: 50px;
}
.madeCurtains .owl-controls .owl-nav .owl-prev,
.sewingCurtains .owl-controls .owl-nav .owl-prev{
    left:-40px;
    top:-15%;
    background-image: url("../images/prev.png");
}
.madeCurtains .owl-controls .owl-nav .owl-next,
.sewingCurtains .owl-controls .owl-nav .owl-next{
    right:-40px;
    top:-15%;
    background-image: url("../images/next.png");
}
.madeCurtains .owl-controls .owl-nav .owl-next,
.madeCurtains .owl-controls .owl-nav .owl-prev{
    top:-25%;
}
.our-designers .owl-carousel .owl-controls .owl-dots,
.madeCurtains .owl-carousel .owl-controls .owl-dots,
.sewingCurtains .owl-carousel .owl-controls .owl-dots{
    bottom: -50px;
}
.our-designers .owl-carousel .owl-controls .owl-dot,
.madeCurtains .owl-carousel .owl-controls .owl-dot,
.sewingCurtains .owl-carousel .owl-controls .owl-dot{
    border:3px solid #92c8b5;
}
.our-designers .owl-carousel .owl-controls .owl-dot.active,
.madeCurtains .owl-carousel .owl-controls .owl-dot.active,
.sewingCurtains .owl-carousel .owl-controls .owl-dot.active{
    background-color: #92c8b5;
}
.owl-sewing-curtains .info{
    position: absolute;
    width: 80%;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: white;
    padding:15px 0;
    z-index:2;
}
.owl-sewing-curtains .info p.title{
    font-size: 35px;
}
.wrappHidden{
    overflow: hidden;
}
/*priceList*/
.priceList{
    background-color: #f9f8f3;
    padding:50px 0;
}
.priceList .list #showList{
    max-width: 1020px;
    display: block;
    margin:0 auto;
    background: #92c8b5;
    cursor: pointer;
    padding: 10px 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.priceList .list #showList .title-list{
    font-family: "PTSansRegular";
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.priceList .list #showList .title-list:before,
.priceList .list #showList .title-list:after{
    content: '';
    width: 30px;
    height: 30px;
    margin:0 30px;
    background-image: url("../images/show_list.png");
    display: inline-block;
    vertical-align: middle;
}
.listShow{
    display: none;
}
.listShow .par{
    padding:10px 0 10px 20px;
}
.listShow .par:nth-child(2n+1){
    background: #f1f0ea;
}
.listShow .par p{
    font-family: "PTSansRegular";
    font-size: 18px;
    font-weight: normal;
    width: 28%;
    display: inline-block;
}
.listShow .par p.name{
    width:40%;
}
.listShow .par p.price{
    font-family: "PTSansBold";
    text-align: right;
}
.priceText p{
    font-family: "PTSansRegular";
    font-size: 20px;
    padding-top: 32px;
    line-height: 1.14;
}
.priceText .calculatePrice{
    margin:40px auto 0;
    max-width:390px;
    display: block;
    box-sizing: border-box;
    font-size: 20px;
    padding: 15px;
}
/*texttile*/
.texttile{
    background: #dfddd5;
    padding:0 0 50px;
}
.texttile h3{
    padding: 50px 0;
}
.texttile-block{
    width:25%;
    height:20.2vw;
}
.texttile-block-big{
    width: 50%;
    height:20.2vw;
    /*max-height: 365px;*/
    background: #8fe1d0;
}
.texttile-block, .texttile-block-big{
    float: left;
    position: relative;
    overflow: hidden;
    /*margin-top: -5px;*/
}
.texttile-block img, .texttile-block-big img{
    width: 100%;
    height:100%;
}
.texttile .texttile-block-title{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    background: white;
    max-width: 340px;
    max-height: 80px;
    font-family: "PTSansRegular";
    font-size: 35px;
    font-weight:normal;
    color: black;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    box-sizing: border-box;
    z-index:6;
}
.texttile .choose_textile{
    display: block;
    max-width: 390px;
    margin: 50px auto 0;
    font-size: 20px;
}
/*assortment*/
.assortment{
    padding:0px 0 50px;
}
.assortment h3{
    padding: 50px 0;
}
.assortment .big_catalog{
    float: left;
    width:66%;
}
.assortment .small_catalog{
    float: right;
    width: 33%;
}
.assortment .small_catalog.second_small{
    /*margin-top: 40px;*/
    margin-top: 1em;
}
.assortment .big_catalog, .assortment .small_catalog{
    position: relative;
    overflow: hidden;
}
.assortment .big_catalog img, .assortment .small_catalog img{
    width: 100%;
}
.assortment .big_catalog .title-link, .assortment .small_catalog .title-link{
    position: absolute;
    bottom:30px;
    left:0;
    right:0;
    margin:0 auto;
    max-width:280px;
    background: white;
    text-align: center;
    padding:15px 40px;
    z-index:6;
}
.assortment .title-link .title{
    font-family: "PTSansRegular";
    font-size: 35px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.assortment .title-link a.btn_pink{
    margin:0 auto;
}
/*.aboutSalon*/
.aboutSalon{
    background: #dfddd5;
}
.aboutSalon h3{
    padding:50px 0 55px;
}
.owl-aboutSalonSlider .owl-controls .owl-nav .owl-prev{
    left:0;
    background-image: url("../images/white_prev.png");
}
.owl-aboutSalonSlider .owl-controls .owl-nav .owl-next{
    right:0;
    background-image: url("../images/white_next.png");
}
.owl-aboutSalonSlider .item img{
    width: 50%;
    float: right;
    max-width: 456px;
    max-height: 350px;
    margin-top: 43px;
    margin-right: 50px;
}
.aboutSlider{
    background-image: url("../images/big_slider_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px 0;
}
.owl-aboutSalonSlider .item .aboutSlideDescript{
    width: 52%;
    padding: 98px 0 0 90px;
}
.owl-aboutSalonSlider .item .aboutSlideDescript p{
    font-family: "PTSansRegular";
    font-size: 35px;
    line-height: 1.2;
    padding-bottom: 30px;
}
.owl-aboutSalonSlider .item .aboutSlideDescript p span{
    font-family: "PTSansBold";
    font-size: 40px;
    text-transform: uppercase;
}
.btn_textile{
    background: rgba(255,255,255, .3);
    border: 3px solid white;
    border-radius: 7px;
    text-transform: uppercase;
    max-width: 300px;
    padding: 12px 0px;
    color: black;
    display: block;
    font-family: "PTSansBold";
    font-size: 25px;
    text-align: center;
}
.aboutSalonDescript{
    padding:45px 0 30px;
}
.aboutSalonDescript p{
    font-family: "PTSansRegular";
    font-size: 20px;
    padding-bottom: 25px;
    line-height: 1.1;
}
/*.our-designers*/
.our-designers{
    padding: 50px 0;
}
.our-designers .owl-our-designers .item{
    background: #f6f3ea;
    padding-bottom: 30px;
    overflow: hidden;
}
.our-designers .owl-our-designers .item .descript{
    text-align: center;
}
.our-designers .owl-our-designers .item .descript .name{
    font-size: 30px;
    font-family: "PTSansRegular";
    text-transform: uppercase;
    padding: 30px 0 15px;
}
.our-designers .owl-our-designers .item .descript .skill{
    font-size: 18px;
    font-family: "PTSansRegular";
    padding-bottom: 23px;
}
.our-designers .owl-our-designers .item .descript .skill:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 19px;
    height: 20px;
    margin-right: 18px;
    background-image: url("../images/skill.png");
}
.our-designers .owl-controls .owl-nav .owl-prev{
    left:-40px;
    top:-124px;
    background-image: url("../images/prev.png");
}
.our-designers .owl-controls .owl-nav .owl-next{
    right:-40px;
    top:-124px;
    background-image: url("../images/next.png");
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel .owl-controls .owl-nav .owl-next:hover{
    opacity: 1;
}
/*.instagram_comments_news*/
.instagram_comments_news{
    background: #f9f8f3;
    padding: 55px 0 35px;
}
.instagram_comments_news h5{
    font-size: 35px;
    font-family: "PTSansRegular";
    padding-bottom: 30px;
    padding-top: 15px;
    font-weight: normal;
}
.comments-block .border-wrapper{
    border:1px solid #dfddd5;
    border-radius: 8px;
    padding:0 25px;
}
.comments-block .comment{
    padding:29px 0 20px;
    border-top: 1px solid #dfddd5;
}
.comments-block .comment .comment-descript{
    padding-left: 15px;
}
.comments-block .comment .comment-descript,
.comments-block .comment .user-foto{
    display: table-cell;
    vertical-align: top;
}
.comments-block .comment .comment-descript p{
    font-family: "PTSansItalic";
    font-size: 16px;
    color: #999998;
    padding-bottom:25px;
}
.comments-block .comment img{
    display: block;
}
.comments-block .comment:nth-child(1){
    border-top: none;
}
.news-decor{
    padding-left: 17px;
    padding-right:32px;
}
.news-decor .news{
    padding-bottom: 40px;
}
.news-decor .news p.date{
    font-family: "PTSansRegular";
    font-size: 16px;
}
.news-decor .news p.title{
    font-family: "PTSansRegular";
    font-size: 16px;
    cursor: pointer;
    color: #4fac92;
}
.news-decor .news p.title:hover{
    text-decoration: underline;
    color: #4fac92;
}
.news-decor .news p.text{
    font-family: "PTSansItalic";
    font-size: 16px;
    color: #999998;
}
/*.about-video*/
.about-video{
    padding:49px 0 20px;
}
.about-video h3{
    padding: 50px 5px;
}
.about-video p{
    padding-bottom: 30px;
    font-size: 20px;
    font-family: "PTSansRegular";
    line-height: 1.1;
}
.about-video .wrapp-video{
    position: relative;
    margin-bottom: 42px;
}
.about-video .wrapp-video .poster{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-image: url("../images/video-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.about-video .wrapp-video iframe{
    width:100%;
    height: 430px;
}
/*.footer-nav*/
.footer-nav{
    background: #8fe1d0;
    padding:13px 0 16px;
    position: relative;
}
.footer-nav .up{
    width:50px;
    height: 50px;
    background-image: url("../images/up.png");
    position: absolute;
    right: 13%;
    top: -93px;
    cursor: pointer;
}
.footer-nav ul#space-around{
    width:100%;
    display: flex;
    justify-content: space-around;
}
.footer-nav ul li{
    /*display: inline-block;*/
    width: 100%;
    text-align: center;
}
.footer-nav ul li a{
    font-size: 16px;
    font-family: "PTSansRegular";
    color: black;
    transition: .3s;
}
.footer-nav ul li a:hover{
    color: #6fb8a3;
}
/*footer*/
.footer-inner{
    padding: 20px 0 25px;
}
.adress-block p{
    font-size: 16px;
    font-family: "PTSansRegular";
    line-height: 1.2;
    padding-bottom: 12px;
}
footer .adress:before{
    content: '';
    display: inline-block;
    width: 17px;
    height: 24px;
    margin-right: 14px;
    background-image: url("../images/pointer.png");
    vertical-align: middle;
}
.footer-logo img{
    margin:25px;
}
.footer-contact{
    float: right;
    width:27%;
}
.footer-contact .callBack{
    display: block;
    max-width: 300px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 6px 14px;
}
.footer-contact a, .footer-contact p{
    line-height: 1.444;
    font-size: 18px;
    color: black;
}
.footer-contact .phone{
    display: block;
    font-family: "PTSansBold";
}
.footer-contact .mail,
.footer-contact .time{
    display: block;
    font-family: "PTSansRegular";
}
.footer-contact .phone:before,
.footer-contact .mail:before,
.footer-contact .time:before{
    content: '';
    display: inline-block;
    width: 19px;
    vertical-align: bottom;
    margin-right: 20px;
    background-repeat: no-repeat;
}
.footer-contact .phone:before{
    background-image: url("../images/phone.png");
    height: 16px;
}
.footer-contact .mail:before{
    background-image: url("../images/mail.png");
    height: 14px;
}
.footer-contact .time:before{
    background-image: url("../images/clock.png");
    height: 19px;
}
.footer-contact .btn_pink{
    color: white;
    display: inline-block;
}
.footer-contact .soc{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}
.footer-contact .vk{
    background-image: url("../images/vk.png");
}
.footer-contact .instagram{
    background-image: url("../images/instagram.png");
}
.have-sub:after{
    content: '>';
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    transform: rotate(90deg);
    margin-left: 5px;
}
#calculatePrice_popup{
    background: white;
    padding: 50px 30px;
    position: relative;
}
#calculatePrice_popup .exit{
    width: 27px;
    height: 27px;
    cursor: pointer;
    background-image: url("../images/popup_exit.png");
    position: absolute;
    top: -14px;
    right: -14px;
}
#calculatePrice_popup img, #calculatePrice_popup input{
    display: block;
    margin: 0 auto;
}
#calculatePrice_popup img{
    max-width: 200px;
    margin-bottom: 15px;
}
#calculatePrice_popup input{
    max-width: 300px;
    text-align: center;
    width:100%;
}

#calculatePrice_popup input[type="text"]{
    background-color: #f9f8f3;
    color: #000;
    /*width: 300px;*/
    height: 50px;
    border: none;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
    font: 20px PTSansRegular;
    -webkit-box-shadow: inset 1px 1px 2px -1px rgba(133,133,133,1);
    -moz-box-shadow: inset 1px 1px 2px -1px rgba(133,133,133,1);
    box-shadow: inset 1px 1px 2px -1px rgba(133,133,133,1);
}


@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSansRegular/PTSansRegular.eot");
    src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansItalic"; */
@font-face {
    font-family: "PTSansItalic";
    src: url("../fonts/PTSansItalic/PTSansItalic.eot");
    src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"),
    url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansBold"; */
@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSansBold/PTSansBold.eot");
    src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
    url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

.btn_pink:hover {
    background: #f16f5c;
    background: -moz-linear-gradient(top, #f16f5c 0%, #a5414c 0%, #c75360 39%, #d55a69 77%, #d55a69 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #f16f5c), color-stop(0%, #a5414c), color-stop(39%, #c75360), color-stop(77%, #d55a69), color-stop(100%, #d55a69));
    background: -webkit-linear-gradient(top, #f16f5c 0%, #a5414c 0%, #c75360 39%, #d55a69 77%, #d55a69 100%);
    background: -o-linear-gradient(top, #f16f5c 0%, #a5414c 0%, #c75360 39%, #d55a69 77%, #d55a69 100%);
    background: -ms-linear-gradient(top, #f16f5c 0%, #a5414c 0%, #c75360 39%, #d55a69 77%, #d55a69 100%);
    linear-gradient(to bottom, #f16f5c 0%, #a5414c 0%, #c75360 39%, #d55a69 77%, #d55a69 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16f5c', endColorstr='#d55a69', GradientType=0 );
}

#header {
    width: 100%;
    background: #fff;
    font: 16px PTSansRegular;
}

#header .header-wrap {
    width: 1020px;
    margin: 0 auto;
    padding-top: 30px;
}

#header .header-wrap .left-side p {
    line-height: 20px;
}

#header .header-wrap .logo-block div {
    margin-left: 30px;
    margin-top: 26px;
}

#header .header-wrap .left-side .address {
    display: block;
    margin-top: 12px;
    line-height: 1.2;
}

#header .header-wrap .left-side .address::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 24px;
    margin-right: 14px;
    background-image: url("../images/pointer.png");
    vertical-align: middle;
}

input.search-input {
    background-color: #f9f8f3;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 208px 11px;
    color: #353535;
    width: 236px;
    height: 36px;
    padding-left: 17px;
    border: none;
    border-radius: 10px;
    margin-top: 9px;
    -webkit-box-shadow: inset 1px 1px 2px -1px rgba(133,133,133,1);;
    -moz-box-shadow: inset 1px 1px 2px -1px rgba(133,133,133,1);;
    box-shadow: inset 1px 1px 2px -1px rgba(133,133,133,1);
}

.right-side > div {
    margin-left: 62px;
}

.right-side a,
.right-side p {
    line-height: 1.444;
    font-size: 18px;
    color: #000;
}

.right-side .phone,
.right-side .mail,
.right-side .time {
    display: block;
}

.right-side .phone{
    font-family: "PTSansBold";
}

.right-side .phone:before,
.right-side .mail:before,
.right-side .time:before{
    content: '';
    display: inline-block;
    width: 19px;
    vertical-align: bottom;
    margin-right: 20px;
    background-repeat: no-repeat;
}

.right-side .phone:before{
    background-image: url("../images/phone.png");
    height: 18px;
}
.right-side .mail:before{
    background-image: url("../images/mail.png");
    height: 18px;
}
.right-side .time:before{
    background-image: url("../images/clock.png");
    height: 19px;
}

.right-side .btn_pink {
    display: inline-block;
    color: #fff;
    margin-top: 9px;
    margin-right: 8px;
}

.right-side .soc{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.right-side .vk{
    background-image: url("../images/vk.png");
}

.right-side .instagram{
    background-image: url("../images/instagram.png");
}

.col-12 {
    width: 100%;
    clear: both;
}

nav.main-nav {
    position: relative;
}

nav.main-nav ul.navigation {
    display: table;
    width: 100%;
    margin-top: 27px;
    margin-bottom: 18px;
}

nav.main-nav ul.navigation:after {
    content: "";
    display: block;
    overflow: hidden;
}

nav.main-nav ul.navigation > li {
    display: table-cell;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

nav.main-nav ul.navigation > li:hover {
    color: #6fb8a3;
}

.m-header {
    display: none;
}

.m-menu-wrapper {
    display: none;
}

.layout {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: #000000;
    opacity: 0.87;
    overflow: hidden;
}

.submenu-block {
    display: none;
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    padding: 45px 17px 33px;
    background: #fff;
    z-index: 9999;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.submenu-block.active,
.m-submenu-block.active {
    display: block;
}

.submenu-block .submenu {
    width: 50%;
    float: left;
}

.submenu-block .submenu h4 {
    font: 20px PTSansBold;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.submenu-block .submenu ul {
    float: left;
    margin-right: 75px;
}

.submenu-block .submenu ul li {
    margin-bottom: 23px;
}

.submenu-block .submenu ul li a {
    color: #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.submenu-block .submenu ul li:hover a {
    text-decoration: underline;
    color: #6fb8a3;
}

.submenu-block .submenu-pic {
    width: 50%;
    float: right;
}


.top-slider-area {
    width: 100%;
    background-image: url(../images/big_slider_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.top-slider-area .top_slider {
    padding: 32px 0 66px;
}

.owl-controls .owl-nav .owl-prev{
    left:0;
    background-image: url("../images/white_prev.png");
}
.owl-controls .owl-nav .owl-next{
    right:0;
    background-image: url("../images/white_next.png");
}

.owl-top_slider {
    text-align: center;
}

.owl-top_slider .item {
    text-align: center;
}

.owl-top_slider .item img{
    display: inline-block;
    width: 64.5792%;
}

.owl-top_slider .item .topSliderDescript {
    width: 64.5792%;
    margin: 0 auto;
    padding-top: 12px;
}

.owl-top_slider .item .topSliderDescript p {
    font: 16px PTSansRegular;
}

.partners-area {
    padding: 50px 0;
    background: #f9f8f3;
}

.partners-row {
    width: 100%;
    display: table;
}

.partners-row .partners-item {
    display: table-cell;
    text-align: center;
}

.services-list {
    margin-right: -31px;
}
.services-area {
    padding: 51px 0;
}

.service-item {
    float: left;
    width: 320px;
    margin-right: 31px;
}

.service-item a {
    display: block;
}

.service-item a .service-pic {
    overflow: hidden;
}

.service-item a .service-pic img {
    width: 100%;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.service-item p.title {
    display: block;
    font: 20px PTSansRegular;
    line-height: 1.12;
    margin-top: 13px;
    color: #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.service-item p.descript {
    display: block;
    font: 16px PTSansItalic;
    color: #ababab;
}

.service-item a:hover p.title {
    color: #6fb8a3;
    text-decoration: underline;
}

.service-item a:hover img {
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

.services-area h3 {
    margin-bottom: 50px;
}


/* --- PROJECTS AREA --- */

.projects-area {
    width: 100%;
    background: #f9f8f3;
    padding-top: 45px;
    padding-bottom: 50px;
}

.owl-our_projects {
 margin-top: 35px;
}

.projects-area .owl-carousel .owl-controls .owl-dots {
    bottom: 0px;
}

.projects-area .owl-carousel .owl-controls .owl-dot {
    border: 3px solid #92c8b5;
}

.projects-area .owl-carousel .owl-controls .owl-dot.active {
    background-color: #92c8b5;
}

.projects-area .owl-carousel .owl-controls .owl-nav .owl-prev {
    background-image: url(../images/left-arrow-big.png);
    width: 59px;
    height: 100px;
    top: -65px;
    left: -105px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.projects-area .owl-carousel .owl-controls .owl-nav .owl-prev:hover {
    background-image: url(../images/left-arrow-big-hover.png);
}

.projects-area .owl-carousel .owl-controls .owl-nav .owl-next {
    background-image: url(../images/right-arrow-big.png);
    width: 59px;
    height: 100px;
    top: -65px;
    right: -105px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.projects-area .owl-carousel .owl-controls .owl-nav .owl-next:hover {
    background-image: url(../images/right-arrow-big-hover.png);
}

.project-item {
    display: block;
    background: #fff;
    margin-bottom: 38px;
}

.project-item:hover .zoom {
    opacity: 1;
    left: 5px;
    top: 5px;
    right: 5px;
    bottom: 5px;
}

.project-item .project-pic {
    position: relative;
    overflow: hidden;
}

.project-item .project-pic img {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.project-item:hover .project-pic img {
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

.project-item .ourProjectsDescript {
    padding: 6px 0 14px 20px;
}

.project-item .ourProjectsDescript p.title {
    font: 18px PTSansRegular;
    margin-top: 6px;
    color: #000;
}

.project-item .ourProjectsDescript p.descript {
    font: 25px PTSansRegular;
    margin-top: 3px;
    color: #000;
}

.projects-area .btn-block {
    text-align: center;
}

.projects-area .btn-block .btn_pink {
    display: inline-block;
    padding: 15px 65px;
    margin-top: 22px;
}

.zoom {
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    background-color: rgba(147, 226, 209, 0.7);
    background-image: url("../images/zoom.png");
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
}

#popup {
    display: none;
    overflow: hidden;
}

.callback-area {
    width: 100%;
    background: #c7f0e7;
    background: -moz-radial-gradient(center, ellipse cover, #c7f0e7 0%, #c7f0e7 25%, #a5e7d9 50%, #93e2d1 73%, #93e2d1 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #c7f0e7), color-stop(25%, #c7f0e7), color-stop(50%, #a5e7d9), color-stop(73%, #93e2d1), color-stop(100%, #93e2d1));
    background: -webkit-radial-gradient(center, ellipse cover, #c7f0e7 0%, #c7f0e7 25%, #a5e7d9 50%, #93e2d1 73%, #93e2d1 100%);
    background: -o-radial-gradient(center, ellipse cover, #c7f0e7 0%, #c7f0e7 25%, #a5e7d9 50%, #93e2d1 73%, #93e2d1 100%);
    background: -ms-radial-gradient(center, ellipse cover, #c7f0e7 0%, #c7f0e7 25%, #a5e7d9 50%, #93e2d1 73%, #93e2d1 100%);
    radial-gradient(ellipse at center, #c7f0e7 0%, #c7f0e7 25%, #a5e7d9 50%, #93e2d1 73%, #93e2d1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7f0e7', endColorstr='#93e2d1', GradientType=1 );
    padding: 20px 0;
}

.callback-area .photo {
    float: left;
    width: 42%;
}

.callback-area .photo > div {
    margin-left: 15px
}

.callback-area .form-block {
    float: left;
    width: 58%;
}

.callback-area .form-block > div {
    padding-top: 40px;
    margin-right: 20px;
    text-align: center;
}

.callback-area .form-block h3 {
    font-size: 39px;
    text-transform: none;
}

.callback-area .form-block p.descript {
    font: 20px PTSansItalic;
    padding-top: 22px;
    line-height: 1.222;
}

.callback-area .form-block form {
    margin: 0 auto;
    width: 385px;
    margin-top: 24px;
    padding: 24px 44px;
    background: #cef3eb;
    border: 1px solid #fff;
    border-radius: 14px;
    text-align: center;
}

.callback-area .form-block form input[type="text"] {
    background-color: #f9f8f3;
    color: #000;
    width: 300px;
    height: 50px;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    font: 20px PTSansRegular;
    -webkit-box-shadow: inset 1px 1px 2px -1px rgba(133,133,133,1);;
    -moz-box-shadow: inset 1px 1px 2px -1px rgba(133,133,133,1);;
    box-shadow: inset 1px 1px 2px -1px rgba(133,133,133,1);
}

.callback-area .form-block form input[type="text"]::-webkit-input-placeholder {color: #000;}
.callback-area .form-block form input[type="text"]::-moz-placeholder          {color:#000;}
.callback-area .form-block form input[type="text"]:-moz-placeholder           {color:#000;}
.callback-area .form-block form input[type="text"]:-ms-input-placeholder      {color:#000;}

.callback-area .form-block form .btn_pink {
    display: inline-block;
    border: none;
    padding: 14px 105px;
    cursor: pointer;
}

.projectSlider {
    position: relative;
    width: 100%;
    padding: 0 60px;
    margin-bottom: 25px;
}

.projectSlider .item {
    display: block;
    float: left;
    margin-left: 9px;
    margin-right: 10px;
}

.projectSlider .item img {
    width: 100%;
}

.big_img {
    width: 100%;
    padding: 7px 5px 23px 5px;
}

.big_img img {
    display: block;
    width: 100%;
}

#popup .slick-prev {
    background: url("../images/prev.png");
    top: 68px;
    left: 9px;
    width: 35px;
    height: 60px;
}

#popup .slick-next {
    background: url("../images/next.png");
    top: 68px;
    right: 13px;
    width: 35px;
    height: 60px;
}

#popup .projectSlider .slick-current img {
    border: 2px solid #50aba6;
}

.gallery-buttons {
    text-align: center;
    height: 40px;
}

.gallery-buttons .btn_pink {
    display: inline-block;
    margin: 0px 15px;
}

.btn_green {
    background: #59ac91;
    border-radius: 7px;
    text-transform: uppercase;
    padding: 10px 25px;
    color: white;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(19,143,136,1);
    -moz-box-shadow: 0px 2px 0px 0px rgba(19,143,136,1);
    box-shadow: 0px 2px 0px 0px rgba(19,143,136,1);
    display: inline-block;
    font-family: "PTSansBold";
    font-size: 16px;
    text-align: center;
    margin: 0px 15px;
}

.btn_green:hover {
    background: #50aba6;
}



