/* xs+sm+md */
@media screen and (max-width: 1199px) {
	.page-about {
		.owl-aboutSalonSlider .item .aboutSlideDescript {
			text-align: left;
		}
	}
}

/* xs+sm */
@media screen and (max-width: 991px) {
	.page-about {
		.owl-aboutSalonSlider .item .aboutSlideDescript {
			text-align: left;
		}
	}
}

/* xs */
@media screen and (max-width: 767px) {
	.page-about {
		.madeCurtains {
			.owl-dots {
				display: block !important;
			}
		}
	}
}

