/* xs+sm+md */
@media screen and (max-width: 1199px) {

}

/* xs+sm */
@media screen and (max-width: 991px) {

}

/* sm */
@media screen and (max-width: 767px) {
	.page-accessories {
		.projects-item {
			text-align: center;
			margin: 0 auto;
		}

		.paggination-block {
			margin-bottom: 20px;
			margin-right: 0;
			margin-top: 20px;
		}	
	}
}

