.designers-projects {
	background: #f9f8f3;
}

.designers-projects__title {
	font-size: 35px;
	padding: 50px 0;
	text-align: center;
	text-transform: uppercase;
}

.designers-projects__list {

	.info {
		padding: 15px 20px 15px 20px;
		background: #dfddd5;
		color: black;
	}

	.info p {
		font-weight: bold;
		text-align: left;
	}

	.info p.title {
		margin-bottom: 5px;
		text-align: left;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-weight: normal;
	}


	.img-container {
		position: relative;
		overflow: hidden;
	}

	.designers-projects__img {
		width: 100%;
	}

	.designers-projects__link {
		display: block;
	}

	.designers-projects__link:hover  {

		.hover_scale{
			transform: scale(1.2);
			position: initial;
		}

		.zoom {
			opacity: 1;
			top: 5px;
			bottom: 5px;
			left: 5px;
			right: 5px;
		}
	}

}

.designers-projects__item {
	margin-bottom: 50px;
}