/* xs+sm+md */
@media screen and (max-width: 1199px) {

}

/* xs+sm */
@media screen and (max-width: 991px) {

}

/* sm */
@media screen and (max-width: 767px) {
	.page-projects {
		.projects-item {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}

		.paggination-block {
			display: block;
			margin-bottom: 20px;
			margin-right: 0;
			margin-top: 20px;
		}	

		.sidebar .btn_pink {
			margin-bottom: 20px;
		}

		.projects-img {
			width: 100%;
		}
	}
}

