.page-ready-made {
	.accessories-info {
		font-size: 20px;

		p {
			margin-bottom: 30px;
		}
	}

	.projects {
		margin-bottom: 50px;
	}

	.projects-title {
		font-size: 35px;
		padding: 50px 0;
		text-align: center;
		text-transform: uppercase;
	}

	.project-img-container {
		max-width: 100%;
		overflow: hidden;
		position: relative;
	}

	.projects-description {
		padding: 13px 15px 10px 15px;
		background: #f9f8f3;
		color: black;
	}

	.projects-description-text {
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 5px;
		color: black;
	}

	.projects-description-price {
		font-size: 20px;
		font-weight: bold;
		color: black;
		line-height: 30px;
	}

	.projects-description-btn {
		padding: 7px 20px;
	}

	.projects-img {
		transition: all 0.3s ease;
	}

	.projects-link:hover {
		.projects-img {
			transform: scale(1.2);
		}

		.zoom {
			opacity: 1;
			left: 5px;
			top: 5px;
			bottom: 5px;
			right: 5px;
		}
	}

	.projects-item  {
		margin-bottom: 30px;
	}

	.footer-nav .up {
		right: 9%;
	}
}